<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.bean.UserInfo">
    <!--@mbg.generated-->
    <!--@Table user_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, nickname, age, avatar, phone, `comment`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.bean.UserInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_info (nickname, age, avatar, 
      phone, `comment`)
    values (#{nickname,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{avatar,jdbcType=VARCHAR}, 
      #{phone,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.bean.UserInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nickname != null">
        nickname,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="comment != null">
        `comment`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.bean.UserInfo">
    <!--@mbg.generated-->
    update user_info
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        `comment` = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.bean.UserInfo">
    <!--@mbg.generated-->
    update user_info
    set nickname = #{nickname,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      avatar = #{avatar,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      `comment` = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="findidByNickname" resultType="int">
        select id from user_info where  nickname = #{nickname,jdbcType=VARCHAR}
    </select>
    <select id="findById" resultMap="BaseResultMap">
        select * from user_info where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        select * from user_info
    </select>
    <select id="countByNickName" resultType="int">
        select count(1) from user_info where nickname = #{nickname,jdbcType=VARCHAR}
    </select>
</mapper>